.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    position: relative;
    left: -($padding);
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $beige;
      }
    }

    a {
      @include text-style(18, $primary);
      padding: $padding;
      font-weight: 700;
      transition: color 200ms ease-in-out;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
