.gnb-nav {
  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 24px;

    a {
      @include text-style(18, $primary);
      font-weight: 700;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $beige;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
