//scss-lint:disable all
@font-face {
  font-family: 'sunset';
  src: url('./assets/fonts/sunset.eot');
  src: url('./assets/fonts/sunset.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/sunset.ttf') format('truetype'),
    url('./assets/fonts/sunset.woff') format('woff'),
    url('./assets/fonts/sunset.svg#sunset') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
